<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_home.css') }}">

</head>
<body>
    <div class="container">
        <h1>Bienvenue sur mon site d'hébergeur d'images</h1>
        <a href="{{ url_for('login') }}" class="btn">Se connecter</a>
        <a href="{{ url_for('signup') }}" class="btn">Créer un compte</a>
    </div>
</body>
</html>
