<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Photos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_profile.css') }}">
</head>
<body>
    <h1>Hello, {{ current_user.username }}!</h1>
    <h2>Your Photos</h2>
    <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="photo" id="photo">
        <button type="submit">Upload Photo</button>
        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}
    </form>
    <hr>
    <div class="photo-gallery">
        {% for photo in photos %}
            <div class="photo-item">
                <img src="{{ url_for('static', filename='images/' ~ photo.filename) }}" alt="Photo">
                <a href="{{ url_for('download_photo', filename=photo.filename) }}">Download</a>
            </div>
        {% endfor %}
    </div>
    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
